 .behind {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .behind a.ui-btn {
        width: auto;
        height: auto;
        margin: 0px;
        float: right;
        border: none;
    }
    .behind a.delete-btn, .behind a.delete-btn:active, .behind a.delete-btn:visited, .behind a.delete-btn:focus, .behind a.delete-btn:hover {
        color: #00B2A9;
        top:10px; 
        height: 75px;
        background-color: white;
        text-shadow: none;
    }
    .behind a.ui-btn.pull-left {
        float: left;
    }
    .behind a.edit-btn, .behind a.edit-btn:active, .behind a.edit-btn:visited, .behind a.edit-btn:focus, .behind a.edit-btn:hover {
        color: #00B2A9;
        top:10px; 
        height: 75px;
        background-color: white;
        text-shadow: none;
    }


.behind div.ui-btn {
        width: 68px;
        margin: 0px;
        float: right;
        border: none;
    }
    .behind div.delete-btn, .behind div.delete-btn:active, .behind div.delete-btn:visited, .behind div.delete-btn:focus, .behind div.delete-btn:hover {
        color: white;
        background-color: red;
        text-shadow: none;
    }
    .behind div.ui-btn.pull-left {
        float: left;
    }
    .behind div.edit-btn, .behind div.edit-btn:active, .behind div.edit-btn:visited, .behind div.edit-btn:focus, .behind div.edit-btn:hover {
        color: white;
        background-color: orange;
        text-shadow: none;
    }


div.ui-input-search { width: 320px !important }










/*li {
    padding: 0 !important;
}
li .wrapper {
    display: block;
    height: 100%;
    width: auto;
    position: relative;
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    transition: transform 300ms ease;
}
.wrapper .go, .wrapper .item, .wrapper .del {
    display: inline-block;
    padding: 0.9em;
    text-shadow: none;
    border-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper .item {
    width: 100%;
    height: 100%;
}
.wrapper .go, .wrapper .del {
    height: 100%;
    text-align:center;
    font-weight: bold;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ddd;
}
.wrapper .go {
    background: #009925;
    border-color: #009925;
}
.wrapper .del {
    background: #F90101;
    border-color: #F90101;
}


.ui-listview > li {
  display: table;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ui-listview > li > a.ui-btn {
    overflow: initial;
  margin-right: 0;
    -webkit-transition: -webkit-transform 400ms ease-out;
    -moz-transition: -moz-transform 400ms ease-out;
    -o-transition: -o-transform 400ms ease-out;
    transition: transform 400ms ease-out;
}

.ui-listview > li span {
    z-index: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 43px;
    width: 0;
    float: right;
    display: table-cell;
    -webkit-transition: width 380ms ease-out;
    -moz-transition: width 380ms ease-out;
    -o-transition: width 380ms ease-out;
    transition: width 380ms ease-out;
}

.ui-listview > li span.show {
    width: 70px;
    cursor: pointer;
}

.ui-listview > li p.btn {
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    text-shadow: none;
    color: white;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    text-overflow: clip;
    border: 0px;
}

.ui-listview > li span.delete {
    background-color: #FF3B30;
}

.ui-listview > li span.flag {
    background-color: #FF9500;
}

.ui-listview > li span.more {
    background-color: #D6CEC3;
}

.ui-listview > li .ui-btn span.flagged {
  padding: 0;
  height: 25px;
  width: 25px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 35px auto auto;
  background-image: url(http://discovercoronadwp.com/img/yellowflag.png);
  background-repeat: no-repeat;
  background-size: cover;
}













*/