/FoodAdvisrAndy/vendor
/FoodAdvisrAndy/node_modules
/FoodAdvisrAndy/platforms
/FoodAdvisrAndy/plugins
/FoodAdvisrYorkTest/vendor
/FoodAdvisrYorkTest/node_modules
/FoodAdvisrYorkTest/platforms
/FoodAdvisrYorkTest/plugins
